body {
  background-color: rgb(92, 92, 92);
  padding: 5px;
  margin: 2px;
}
button {
  background-color: aqua;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

button:hover {
  background-color: crimson;
}