@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-shadow: none;
}

@font-face {
    font-family: 'world';
    src: url(world_discovery/WorldDiscovery_PERSONAL_USE_ONLY.otf) format('opentype'), url(world_discovery/WorldDiscoveryFive_PERSONAL_USE_ONLY.otf);
}

h1 {
    padding: 10px;
    margin: 15px;
}

header {
 background-image: linear-gradient(to right, #0101a0, #000029);
 color: #fff;
 border-bottom: 3px solid #000029;  
 font-family: 'world', Times, serif;
 display: flex;
 height: 90px;
 width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #000000;
    padding: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 5px 5px;
    width: 50px;
    list-style: none;
    cursor: pointer;
    transition: 0.5s ease;
}

a:hover {
    background-color:#0000C4 ;
    transform: scale(1.1);
    border-radius: 10px;
    color: #fff;
}

ul {
    border-bottom: 1px solid #0000c48e;
    margin: 10px;
}

#img {
    height: 220px;
    width: 300px;
    margin: 15px;
}


section {
    display: inline-block;
}

#iprocurar {
    padding:15px;
    margin-left: 400px;
    width: 480px;
    height: 10px;
    border-radius: 10px;
    margin-top: 25px;
}

p {
    text-align: center;
}

footer {
    margin: 50px;
    text-align: center;
    padding: 15px;
    background-image: linear-gradient(to right, #0101a0, #000029);
    border-top: 2px solid #000029;
    color: #fff;
}

h2 {
    text-align: center;
    padding: 5px;
    margin: 5px;

}

span {
    position: absolute;
    right: 18px;
    top: 45px;
}

h3 {
    margin-top: 55px;
}

#legend {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}